.bgmbar_8090{
    margin: 15px;
    left: 20px;
    font-family: 'DungGeunMo';
    color: white;
}

.bgmbar_9000{
    margin: 15px;
    left: 20px;
    position: absolute;
    font-family: 'DungGeunMo';
}

.bgmbar_0010{
    margin: 15px;
    left: 20px;
    position: absolute;
    font-family: 'DungGeunMo';
}

.bgmbar_1020{
    margin: 15px;
    left: 20px;
    position: absolute;
    font-family: 'DungGeunMo';
}