.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; /* 배경을 하얀색으로 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white; /* 모달 창을 하얀색으로 유지 */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px; /* 모달 창 가로 크기 고정 */
  height: 160px; /* 모달 창 세로 크기 고정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 모달에 약간의 그림자 추가 */
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button, .confirm-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: gray;
  color: white;
}

.confirm-button {
  background-color: red;
  color: white;
}
