.joinmainbox {
  display: flex;
  flex-direction: column;
  justify-content: top; /* 세로 중앙 정렬 */
  align-items: center;     /* 가로 중앙 정렬 */
  padding: 10px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 20px;                   /* 위쪽에서 50px 아래로 이동 */
  min-height: 100vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;         /* 화면에 고정되도록 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.loading-container img {
  max-width: 100%;         /* 로고가 컨테이너를 넘지 않도록 설정 */
  max-height: 80%;         /* 로고의 높이 설정 */
  height: auto;
}

.joinmainbox_{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.joininput{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 16pt;
  }

  .joininputmiddle{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 16pt;
  }

  .joininput_8090{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DungGeunMo';
    font-size: 12pt;
  }

  .joininput_9000{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DungGeunMo';
    font-size: 12pt;
  }

  .joininput_0010{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'Roboto';
    font-size: 12pt;
  }

  .joininput_1020{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 12pt;
  }

  .joingenerationselect{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 16pt;
    color: gray;
    margin: 5px;
  }

  .joingenerationselectoption{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 16pt;
    color: black;
  }

  .joinuniquebutton{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    color: white;
    font-size: 16pt;
  }

  .joinbutton{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    color: white;
    font-size: 16pt;
    margin-top: 20px;
  }

  .joinbutton_8090{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
    background-color: #008080;
    color: white;
    font-size: 12pt;
    margin-top: 20px;
  }

  .joinbutton_9000{
    width: 200px;
    height: 40px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
    font-size: 12pt;
    margin-top: 20px;
  }

  .joinbutton_0010{
    width: 200px;
    height: 40px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b8b8b8);
    font-family: 'Roboto';
    font-size: 12pt;
    margin-top: 20px;
  }

  .joinbutton_1020{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    color: white;
    font-size: 12pt;
    margin-top: 20px;
  }

  .gradient {
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
  }

  .joinline {
    border-top : medium  solid #000000;
    width: 200px;
    height : 2px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .joinbar{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: 'NotoSansKR';
    padding-top: 10px;
    font-size: 20pt;
    color: gray;
  }