.marquee8090 {
    height: 50px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}

.marquee8090 p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    transform: translateX(100%);
    font-family: 'DOSIyagiMedium';
    font-size: 24pt;
    color: #000000;
    animation: scroll-left 10s linear infinite;
}


@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}