.photowritemain8090{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.phototitleinput8090{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
  }

  .photobodyinput8090{
    width: 540px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
  }

  .photowritebtn8090{
    margin-top: 20px;
    margin-left: 280px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
    background-color: #008080;
    color: white;
  }

  .photouploadbtn8090{
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
    background-color: #008080;
    color: white;
  }

  .phototitle8090{
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
    color: white;
  }

  /*----------------------------------------------------*/

  .photowritemain9000{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.phototitleinput9000{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
  }

  .photobodyinput9000{
    width: 540px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
  }

  .photowritebtn9000{
    margin-top: 20px;
    margin-left: 280px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
  }

  .photouploadbtn9000{
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
  }

  .phototitle9000{
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
  }

  /*------------------------------------*/

  .photowritemain0010{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.phototitleinput0010{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DungGeunMo';
    font-size: 16pt;
  }

  .photobodyinput0010{
    width: 540px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DungGeunMo';
    font-size: 16pt;
  }

  .photowritebtn0010{
    margin-top: 20px;
    margin-left: 200px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b8b8b8);
    font-family: 'DungGeunMo';
  }

  .photouploadbtn0010{
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b8b8b8);
    font-family: 'DungGeunMo';
  }

  .phototitle0010{
    font-family: 'DungGeunMo';
    font-size: 16pt;
  }

  /*--------------------------------------------*/

  .photowritemain1020{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.phototitleinput1020{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 16pt;
  }

  .photobodyinput1020{
    width: 540px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 16pt;
  }

  .photowritebtn1020{
    margin-top: 20px;
    margin-left: 280px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'NotoSansKR';
  }

  .photouploadbtn1020{
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'NotoSansKR';
  }

  .phototitle1020{
    font-family: 'NotoSansKR';
    font-size: 16pt;
  }