@font-face {
    font-family: 'DOSIyagiMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

.photosumnailname8090{
    font-family: 'DOSIyagiMedium';
}

.photosumnailsize8090{
    margin: 10px;
    width: 150px;
    height: 160px;
    object-fit: cover;
    border: 2px solid white;
}

.photomainconent8090{
    display: grid; 
    grid-template-columns: 150px 150px 150px 150px;
    column-gap: 20px;
    gap: 20px;
    padding: 10px;
    margin: 50px auto;
}

.photolist8090mainbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------*/

.photosumnailname9000{
    font-family: 'DOSIyagiMedium';
}

.photosumnailsize9000{
    margin: 10px;
    width: 120px;
    height: 140px;
    object-fit: cover;
}

.photomainconent9000{
    display: grid; 
    grid-template-columns: 120px 120px 120px 120px;
    column-gap: 20px;
    gap: 20px;
    padding: 10px;
    margin: 50px auto;
}

.photolist9000mainbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------*/

.photosumnailname0010{
    font-family: 'DungGeunMo';
}

.photosumnailsize0010{
    margin: 10px;
    width: 130px;
    height: 100px;
    object-fit: cover;
}

.photomainconent0010{
    display: grid; 
    grid-template-columns: 130px 130px 130px 130px;
    column-gap: 20px;
    gap: 20px;
    padding: 10px;
    margin: 20px auto;
}

.photolist0010mainbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*-------------------------------------------------------------------------------------*/

.photosumnailsize1020{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.photomainconent1020{
    display: grid; 
    margin-top: 30px;
    /* grid-template-columns: 15vw 15vw 15vw; */
    grid-template-columns: 200px 200px 200px;
    column-gap: 4px;
    row-gap: 6px;
    margin-left: 5vw;
    justify-content: center;
}

.photolist1020mainbox{
    margin-top: 50px;
}