@font-face {
    font-family: 'DOSIyagiMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.main8090outwindow {
    width: 100%;
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}


.main8090defaultwindow {
    font-family: 'DOSIyagiMedium';
    border: 4px solid #ffffff;
    background-color: #000000;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: 14pt;
    cursor: default;
}

.main8090topbanner {
    background-color: #E6E6E6;
    font-size: 18pt;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family: 'DOSIyagiMedium';
    height: 50px;
}

.main8090windowtopbarbackground {
    width: 100%;
    background-image: linear-gradient(to right, darkblue, rgb(86, 145, 255));
    height: 32px;
    font-size: 18pt;
    padding-left: 20pt;
    color: white;
    font-family: 'DOSIyagiMedium';
}

.main8090windowtopbarbuttonarea {
    float: right;
    margin-right: 5px;
}

.main8090windowtopbarbutton {
    height: 26px;
    width: 28px;
    background-color: #E6E6E6;
    color: black;
    font-size: 16pt;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5px;
}

.main8090windowbottombarbackground {
    display: flex;
    background-color: #E6E6E6;
    height: 32px;
    font-size: 16pt;
    padding-left: 20pt;
    border-top: 4px solid #ffffff;
    color: black;
    font-family: 'DOSIyagiMedium';
}


.main8090windowcontentoutbox {
    display: flex;
    flex-direction: row;
    height: calc(100% - 122px);
}


.main8090windowcontentbox {
    width: 100%;
    display: flex;
    flex-direction: column;  
    height: 100%;
    border-left: 4px solid #206061;
    border-right: 4px solid #206061;
}

.main8090windowcontentinbox {
    border-top: 4px solid #154041;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow-y: auto;
}

.main8090selectmenubutton {
    color: aqua;
}

.main8090menubutton {
    color: white;
}

.main8090windowcontentboxline {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: black;
    color: white;
    font-family: 'DOSIyagiMedium';
    font-size: 18pt;
    padding: auto;
}

.main8090categorybar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #008381;
    height: 40px;
}

.main8090margin {
    display: flex;
    width: 14%;
}

.main8090memberbox {
    font-family: 'DOSIyagiMedium';
}

.main8090categorybutton {
    color: white;
    font-family: 'DOSIyagiMedium';
    width: 200px;
    font-size: 18pt;
    background-color: #008381;
    border: 2px solid #000000;
    box-shadow: 2px 2px 5px #333333, -2px -2px 5px #000000;
}

.main8090categorybutton.pressed {
    box-shadow: inset 2px 2px 5px #000000;
    background-color: #005454;
    border-top: 2px solid #333333;
    border-left: 2px solid #333333;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.main8090footer {
    display: flex;
    flex-direction: column;
    height: 64px;
}