.postlist8090item{
    height:40px;
    border-bottom: 1px dashed rgb(145, 145, 145);
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'DungGeunMo';
    color: white;
}

  .postitem8090newtext{
    font-weight: 900;
    color: blue;
    margin: 10px;
    font-family: 'DungGeunMo';
  }

  .postitem8090hottext{
    font-weight: 900;
    color: tomato;
    font-family: 'DungGeunMo';
  }

 .postlist8090text{
  color: white;
  cursor: text;
}

/*---------------------------------------------------------*/

.postlist9000item{
  height:40px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'DungGeunMo';
}

.postitem9000newtext{
  font-weight: 900;
  color: rgb(0, 255, 98);
  margin: 10px;
  font-family: 'DungGeunMo';
}

.postitem9000hottext{
  font-weight: 900;
  color: tomato;
  font-family: 'DungGeunMo';
}

.postlist9000text{
font-family: 'DungGeunMo';
}

/*---------------------------------------------------------*/

.postlist0010item{
  height:40px;
  border-bottom: 1px dashed rgb(145, 145, 145);
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'DungGeunMo';
}

.postitem0010newtext{
  font-weight: 900;
  color: blue;
  margin: 10px;
  font-family: 'DungGeunMo';
}

.postitem0010hottext{
  font-weight: 900;
  color: tomato;
  font-family: 'DungGeunMo';
}

.postlist0010text{
font-family: 'DungGeunMo';
}

/*---------------------------------------------------------*/

.postlist1020item{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.postitem1020newtext{
  font-weight: 900;
  color: blue;
  margin: 10px;
  font-family: 'NotoSansKR';
}

.postitem1020hottext{
  font-weight: 900;
  color: tomato;
  font-family: 'NotoSansKR';
}

.postlist1020text{
font-family: 'NotoSansKR';
}

.postlist1020date{
  font-family: 'NotoSansKR';
  color: gray;
}

.postlist1020body{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
