.postmiddle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postuploadsumnailicon{
    object-fit: cover;
}

/*--------------------------------------------------------*/

.postlist8090mainbox{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.postlist8090title{
    height: 40px;
}

.pagebtnselect8090{
    color: #ff7b00;
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ff7b00;
}

.pagebtn8090{
    color: white;
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid white;
}

.postlist8090margin{
    margin: 15px;
    width: 750px;
}

.postlist8090line{
    border-bottom: 1px dashed #444444;
}

.postpagebtn8090 {
    margin-left: 10px;
    bottom: 100px;
    width: 80px;
    height: 30px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
    background-color: #008080;
    color: white;
}

.postpagebtn8090:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5); 
    background-color: #7B7B7B; 
    transform: translateY(2px);
    margin-left: 15px;
    width: 80px;
    height: 30px;
    border: 1px dashed #444444;
}

.postpagewritebtn8090{
    margin-left: 10px;
    bottom: 100px;
    width: 80px;
    height: 30px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
    background-color: #008080;
    color: white;
}

.postlistselect8090{
    width: 200px;
    border: 1px solid #C4C4C4;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.postlistselectitem8090{
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/*--------------------------------------------------------*/

.postlist9000mainbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.postlist9000title{
    height: 40px;
    margin: 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.pagebtnselect9000{
    color: #ff7b00;
    margin: 5px;
    font-family: 'DOSIyagiMedium';
}

.pagebtn9000{
    color: black;
    margin: 5px;
    font-family: 'DOSIyagiMedium';
}

.postlist9000margin{
    margin: 15px;
    width: 680px;
}

.postlist9000line{

}

.postpagewritebtn9000{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
}

.postpagebtn9000{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
}


.postlistselect9000{
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.postlistselectitem0010{
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/*--------------------------------------------------------*/

.postlist0010mainbox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.postlist0010title{
    background-color: rgb(179, 179, 179);
    height: 40px;
    margin: 15px;
}

.pagebtnselect0010{
    color: #ff7b00;
    margin: 5px;
}

.pagebtn0010{
    color: black;
    margin: 5px;
}

.postlist0010margin{
    margin: 15px;
    width: 560px;
}

.postlist0010line{
    border-bottom: 1px dashed #444444;
}

.postpagebtn0010{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b8b8b8)
}

.postpagewritebtn0010{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b8b8b8)
}

.postlistselect0010{
    margin-left: 300px;
    width: 100px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.postlistselectitem0010{
    width: 100px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/*--------------------------------------------------------*/

.postlist1020mainbox{
    margin-top: 50px;
}

.postlist1020title{
    background-color: rgb(179, 179, 179);
    height: 40px;
    margin: 15px;
}

.pagebtnselect1020{
    color: #ff7b00;
    font-family: 'NotoSansKR';
    margin: 5px;
}

.pagebtn1020{
    color: black;
    font-family: 'NotoSansKR';
    margin: 5px;
}

.postlist1020margin{
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postlist1020line{
    border-bottom: 2px solid black;
    width: 600px;
    height: 100px;
    padding-top: 15px;
}

.postpagebtn1020{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
}

.postpagewritebtn1020{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
}

.postlistselect1020{
    margin-left: 600px;
    width: 100px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: 'NotoSansKR';
}

.postlistselectitem1020{
    width: 100px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: 'NotoSansKR';
}