@font-face {
  font-family: 'DOSIyagiMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DOSGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

.post-view-container8090 {

  flex-direction: column;
  color: white;
  margin: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.post-view-container9000, .post-view-container0010 {
  flex-direction: column;
  color: black;
  margin: 20px;
  overflow: auto;
}

.post-view-header8090, .post-view-header9000, .post-view-header0010 {
  display: flex;
  justify-content: right;
}


.post-view-header8090 button {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #008080;
  color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
  font-family: 'DOSIyagiMedium';
}

.post-view-header9000 button, .post-view-header0010 button {
  margin-right: 10px;
  margin-top: 10px;
  color: black;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
}

.post-view-header9000 button {
  font-family: 'DOSIyagiMedium';
}

.post-view-header0010 button {
  border: 1px solid #444444;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b8b8b8);
  font-family: 'DungGeunMo';
}
 
.post-like {
  width: 100px!important;
  margin-right: 50px!important;
}

.post-title8090 {
  margin-top: 30px;
  cursor: text;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'DOSIyagiMedium';
}

.post-title9000 {
  margin-top: 30px;
  cursor: text;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'DOSIyagiMedium';
}

.post-title0010 {
  margin-top: 30px;
  cursor: text;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'DungGeunMo'
}

.post-info8090 {
  display: flex;
  justify-content: space-between;
  cursor: text;
  padding: 0 50px;
  margin-top: 20px;
  width: 100%;
}

.post-info9000 {
  display: flex;
  justify-content: space-between;
  cursor: text;
  padding: 0 30px;
  margin-top: 20px;
  width: 100%;
}

.post-info0010 {
  display: flex;
  justify-content: space-between;
  cursor: text;
  margin-top: 20px;
  width: 100%;
}

.post-nickname-box8090, .post-nickname-box9000, .post-nickname-box0010 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-nickname-box8090 div, .post-nickname-box9000 div {
  font-family: 'DOSIyagiMedium';
}

.post-nickname-box0010 div {
  font-family: 'DungGeunMo';
}

.post-nickname-word {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.post-nickname {
  font-size: 20px;
  color: rgb(189, 189, 189);
  white-space: nowrap;
  overflow: hidden;
}

.post-created-at-box8090, .post-created-at-box9000, .post-created-at-box0010 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-created-at-box8090 div, .post-created-at-box9000 div {
  font-family: 'DOSIyagiMedium';
}

.post-created-at-box0010 div {
  font-family: 'DungGeunMo';
}


.post-created-at-word {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.post-created-at {
  font-size: 20px;
  color: rgb(189, 189, 189);
  white-space: nowrap;
  overflow: hidden;
}

.post-views-box8090, .post-views-box9000, .post-views-box0010 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-views-box8090 div, .post-views-box9000 div {
  font-family: 'DOSIyagiMedium';
}

.post-views-box0010 div {
  font-family: 'DungGeunMo';
}

.post-views-word {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.post-views {
  font-size: 20px;
  color: rgb(189, 189, 189);
  white-space: nowrap;
  overflow: hidden;
}

.post-likes-box8090, .post-likes-box9000, .post-likes-box0010 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-likes-box8090 div, .post-likes-box9000 div {
  font-family: 'DOSIyagiMedium';
}

.post-likes-box0010 div {
  font-family: 'DungGeunMo';
}

.post-likes-word {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.post-likes {
  font-size: 20px;
  color: rgb(189, 189, 189);
  white-space: nowrap;
  overflow: hidden;
}

.post-contents-box {
  margin: 50px 20px;
  padding: 0 2px;
  font-size: 18px;
  overflow-y: auto;
  word-wrap: break-word;
  word-break: break-all; 
  white-space: pre-wrap;
}

.post-contents-box img{
  width: 100%;
  margin-bottom: 10px;
}

.post-contents8090, .post-contents9000 {
  font-family: 'DOSIyagiMedium';
}

.post-contents0010 {
  font-family: 'DungGeunMo';
}

.post-comments-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  height: 400px;
  margin-bottom: 10px;
}

.post-comment {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all; 
  white-space: pre-wrap;
  
}

.post-comment-form {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}

.post-comment-box8090 {
  width: 90%;
  height: 100px;
  margin-left: 20px;
  box-sizing: border-box;
  line-height: 1.5;
  resize: none; 
  overflow-wrap: break-word;
  word-break: break-word;
  padding-top: 0;  
  text-align: left; 
  vertical-align: top;
  border: 1px solid black;
  padding: 3px;
  font-family: 'DOSIyagiMedium';
}

.post-comment-box9000 {
  width: 90%;
  height: 100px;
  margin-left: 20px;
  box-sizing: border-box;
  line-height: 1.5;
  resize: none; 
  overflow-wrap: break-word;
  word-break: break-word;
  padding-top: 0;  
  text-align: left; 
  vertical-align: top;
  border: 1px solid black;
  padding: 3px;
  font-family: 'DOSIyagiMedium';
}

.post-comment-box0010 {
  width: 90%;
  height: 100px;
  margin-left: 20px;
  box-sizing: border-box;
  line-height: 1.5;
  resize: none; 
  overflow-wrap: break-word;
  word-break: break-word;
  padding-top: 0;  
  text-align: left; 
  vertical-align: top;
  border: 1px solid black;
  padding: 3px;
  font-family: 'DungGeunMo';
}

.post-comment-submit {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 5%;
  height: 100px;
  margin-left: 5px;
  margin-right: 20px;
  cursor: pointer;
  font-family: 'DOSIyagiMedium';
}
