.postwritemain8090{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.posttitleinput8090{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
  }

  .postbodyinput8090{
    width: 540px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .postwritebtn8090{
    margin-top: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
    background-color: #008080;
    color: white;
  }

  .postuploadbtn8090{
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
    background-color: #008080;
    color: white;
  }

  .posttitle8090{
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
    color: white;
    display: flex;
    margin-left: 10px;
  }

  /*----------------------------------------------------*/

  .postwritemain9000{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.posttitleinput9000{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
  }

  .postbodyinput9000{
    width: 540px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .postwritebtn9000{
    margin-top: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
  }

  .postuploadbtn9000{
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'DOSIyagiMedium';
  }

  .posttitle9000{
    font-family: 'DOSIyagiMedium';
    font-size: 16pt;
    display: flex;
    margin-left: 10px;
  }

  /*------------------------------------*/

  .postwritemain0010{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.posttitleinput0010{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DungGeunMo';
    font-size: 16pt;
  }

  .postbodyinput0010{
    width: 540px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'DungGeunMo';
    font-size: 16pt;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .postwritebtn0010{
    margin-top: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b8b8b8);
    font-family: 'DungGeunMo';
  }

  .postuploadbtn0010{
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b8b8b8);
    font-family: 'DungGeunMo';
  }

  .posttitle0010{
    font-family: 'DungGeunMo';
    font-size: 16pt;
    display: flex;
    margin-left: 10px;
  }

  /*--------------------------------------------*/

  .postwritemain1020{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.posttitleinput1020{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 16pt;
  }

  .postbodyinput1020{
    width: 540px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'NotoSansKR';
    font-size: 16pt;
  }

  .postwritebtn1020{
    margin-top: 20px;
    margin-left: 280px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'NotoSansKR';
  }

  .postuploadbtn1020{
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    font-family: 'NotoSansKR';
  }

  .posttitle1020{
    font-family: 'NotoSansKR';
    font-size: 16pt;
  }

  .postwritebtn-box{
    display: flex;
    justify-content: center;
  }