.vote-container8090 {
  position: relative;
  display: flex;
  width: 400px;
}

.vote-container9000 {
  position: relative;
  display: flex;
  width: 240px;
}

.vote-container0010 {
  position: relative;
  display: flex;
  width: 200px;
}

.vote-bar {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  appearance: none;
}

.vote-bar::-webkit-progress-value {
  background-color: red;
}

.vote-bar::-webkit-progress-bar {
  background-color: blue;
}

.vote-labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: white;
}
