#progress {
  appearance: none;
  width: 500px;
}
#progress::-webkit-progress-bar {
  width: 500px;
  background:#ff00dd;
  border-radius:10px;
  box-shadow: inset 3px 3px 10px #950092;
}
#progress::-webkit-progress-value {
  border-radius:10px;
  background: #1d7497;
  background: -webkit-linear-gradient(to right, #328bff, #1367af);
  background: linear-gradient(to right, #2dc0ff, #1d6e97);

}