.insta-vote-container {
  position: relative;
  width: 600px;
}

.insta-vote-bar {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  appearance: none;
}

.insta-vote-bar::-webkit-progress-value {
  background-color: red;
}

.insta-vote-bar::-webkit-progress-bar {
  background-color: blue;
}

.insta-vote-labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: white;
}
